/* navigation start */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans' , sans-serif;
}

body,html{
    background-color:#3a3838;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header{
    width:100%;
    height: 120px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(0,0,0,0.5);
}


/* #chk1{
    display: none; 
}

i{
    color: #fff;
    cursor: pointer;
} */
/* header .search-box{
    flex: 1;
    position: relative;
}
.search-box input{
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#f2f2f2;
    border-radius: 30px;
    color:gray;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
     
}
 
.search-box button{
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: green;
    color: #fff;
} */
/* header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid cadetblue;
    transition: all .5s ease-in;
}
header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
     
    header .menu{
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
        
    }
  
} */
/* navigation finished */

/* body-container starting */

.categories-heading{
    color: rgb(255, 255, 255);
    padding-top: 40px;
    padding-left: 15px;
    letter-spacing: 2px;
    font-size: 25px;
    font-family: 'Open Sans' , sans-serif;
}

.categories{
    display: flex;
    box-sizing: border-box;
}

.categories p{
    padding-top: 2.7vw;
    padding-left: 1vw;
    letter-spacing: 1.5px;
    color: aquamarine;
    font-size: 1.9vw;
}

.container{
    justify-content: center;
    margin: 0px 10px 20px 31px;
    display: block;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px;
    padding-top: 25px;
}

.card{
    width: 324px;
    height: 240px;
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    background: #fff;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}

/* .card:hover{
    transform: translateY(20px);
} */

.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to bottom ,rgba(0,176,155,0.5),rgba(150,210,61,1)); */
    /* transition: 0.5s all; */
    opacity: 0;
    z-index: 2;
    text-align: center;
}

.card:hover:before{
    opacity: 1;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    /* transform: translateY(30px); */
    transition: 0.5s all;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover .info{
    opacity: 1;
    /* transform: translateY(0px); */
}

/* .card .info h1{
    margin: 0;
    color: #000;
    font-weight: bold;
    transition: none;
    line-height: 45px;
    font-size: x-large;
}

.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    color: #000;
} */

.card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border-radius: 6px;
}

.card .info .btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

/* To make H1 tag sentences in center */

.card .info h1{
    margin-bottom: 1rem;
    margin-left: 3.5rem;
    transition: none; /* Remove transition */
    background-color: rgba(72, 72, 72, 0.5); /* Add transparent black background */
}

.card .info .btn{
    margin-top: 2rem;
    margin-left: 80px;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* FOOTER */
footer{
    background-color: #111;
}

.footercontainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(248, 247, 247);
    margin: 10px;
    border-radius: 60%;
}

.social-icons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.social-icons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.social-icons a:hover i{
    color: white;
    transition: o.5s;
}

.footernav{
    margin: 30px 0px;
}

.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footernav ul li a{
    color: white;
    transition: 0.5s;
    opacity: 0.7;
    text-decoration: none;
    font-size: 1.3em;
    margin: 20px;
}

.footernav ul li a:hover{
    opacity: 1;
}

.footerbottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerbottom p{
    color: white;
    letter-spacing: 0.1em;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin:0px 5px;
}

@media(max-width:700px){
    .footernav ul{
        flex-direction: column;
    }
    .footernav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
}
}

/* LOGO  */

.head .site-logo{
    top: 0%;
    height:80px;
    width: auto;
    margin-left: 60px;
}

.head .website-name .ddd{
    color: orange;
    margin-left: 7px;
    text-transform: uppercase;
    font-size: 35px;
    font-family: 'Arbutus', serif;
}

/* FREE BOOK CONTAINER */

.free{
    height: 90vh;
    width: auto;
}

.free-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: wrap;
    padding-left: 4.8vw;
    padding-top: 1.5vw;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 1vw; */
}

.free .free-container .free-text{
    text-transform: uppercase;
    font-size: 25px;
    padding-top: 20px;
    color: #fff;
    font-family: 'Open Sans' , sans-serif;
    letter-spacing: 2px;
    padding-left: 2vw;
}

.free .free-box{
    width: calc(100% - 156px);
    margin: 0 auto;
    /* display:grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: span 1;
    grid-gap: 25px 0; */
    padding-top: 3.5vh;
}

.free .free-box .free-card{
    border: 1px solid #fff;
    height: 460px;
    width: 270px;
    padding-top: 2vh;
}

.free .free-box .free-card img{
    object-fit: cover;
    padding-left: 4.5vh;
    padding-top: 1vh;
    object-position: center;
    cursor: pointer;
}

.tag p{
    text-align: center;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tag .book-name{
    font-family: 'Roboto',sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.tag .author-name{
    font-family: "Nunito", sans-serif;
    font-size: 19px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.tag a{
   font-size: large;
   color: greenyellow;
   text-decoration: none;
   padding-left: 105px; 
}
